.weekly-calendar {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.weekly-calendar .frame {
    margin: 2vh auto;
    border: 1px solid #1976d2;
    width: fit-content;
    padding: 2vh;
    border-radius: 10px;
}

.weekly-calendar .calendar-days {
    display: flex;
    justify-content: space-between;
}

.weekly-calendar .calendar-day {
    flex-basis: calc(100% / 7);
    position: relative;
}

.weekly-calendar .calendar-day .day-name {
    font-weight: bold;
}

.weekly-calendar .calendar-day .day-date {
    margin-top: 5px;
}

.weekly-calendar .booking-slot {
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.weekly-calendar .booking-slot.booked {
    background-color: green;
}

.weekly-calendar .booking-slot.not-booked:hover {
    background-color: lightgray;
}

.weekly-calendar .calendar-day.selected-slot {
    background-color: #7fff7f;
}

.booked-cell {
    text-align: center;
    background-color: rgb(82, 194, 82);
}

/* .booked-cell:hover {
    text-align: center;
    background-color: rgb(82, 82, 97);
    color: yellow;
} */


input[type='checkbox'] {
    margin: 1vw;
}