.weekly-calendar {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
}

.weekly-calendar .calendar-days {
    display: flex;
    justify-content: space-between;
}

.weekly-calendar .calendar-day {
    flex-basis: calc(100% / 7);
    position: relative;
}

.weekly-calendar .calendar-day .day-name {
    font-weight: bold;
}

.weekly-calendar .calendar-day .day-date {
    margin-top: 5px;
}

.weekly-calendar .booking-slot {
    height: 50px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.weekly-calendar .booking-slot.booked {
    background-color: green;
}

.weekly-calendar .booking-slot.not-booked:hover {
    background-color: lightgray;
}

.weekly-calendar .calendar-day.selected-slot {
    background-color: #7fff7f;
}

.parent-div {
    background-color: #1976d2;
    padding: 35px;
    border-radius: 16px;
    margin-top: 2vh;
}

.child-div {
    width: 30px;
    height: 30px;
    background-color: lightgray;
    margin: 5px;
    border-radius: 50%;
}

.child-div.booked {
    background-color: green;
}