.container {
    display: grid;
    grid-template-columns: 1.4fr 0.6fr;
    grid-template-rows: 1fr;
    gap: 4vw;
    grid-auto-flow: row;
    grid-template-areas:
        ". .";
    margin: 4vh;
}

.headline_and_icon {
    display: flex;
    justify-content: space-evenly;
}

.text_left,
.text_right {
    border: 1px solid rgb(33, 111, 219);
    border-radius: 10px;
    padding: 2%;
}

.icons_container {}